<% if logged_in? %>
  <h1> <%= current_user.name %>のタスク一覧</h1>

  <ul>
    <% current_user.tasks.each do |task| %>
      <li><%= link_to task.id, task %>:<%= task.content %> &gt; <%= task.status %></li>
    <% end %>
  </ul>
  
  <div><%= link_to "新規タスクの作成ページ", new_task_path %></div>
  <div><%= link_to "Logout", logout_path, method: :delete %></div>
  
<% else %>
  <div>
    <h1>Manage & Complete your Task!!</h1>
    <div><%= link_to 'Log in', login_path %></div>
    <div>New User &gt; <%= link_to 'Sign up NOW!', signup_path %></div>
  </div>
<% end %>