  <h1> <%= user.name %>のタスク一覧</h1>
  <div><%= link_to "他のメンバー", users_path %></div>
  
  <div>あなたのタスクは全部で<%= user.tasks.count %>件です。</div>
  <ul>
    <% user.tasks.each do |task| %>
      <li><%= link_to task.id, task %>:<%= task.content %> &gt; <%= task.status %></li>
    <% end %>
  </ul>
  
  <div><%= link_to "新規タスクの作成ページ", new_task_path %></div>
  <div><%= link_to "Logout", logout_path, method: :delete %></div>
